body{
    width: auto;
    margin: 0px;
    padding: 50px 0px;
}
h1{
    text-align: center;
    font-family: font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}
label{
    width: 103px;
    float: left;
    padding: 10px 16px 10px 1px;
}
.rgstn_fm{
    width: 400px;
    height: auto;
    margin: auto;
    padding: 40px;
    background-color: aqua;
    box-sizing: border-box;
}
.inpt_elmnts{
    border: none;
}
input[type=text] {
    width: 200px;
    padding: 10px 5px;
    box-sizing: border-box;
}
.inpt_div{
    margin-bottom: 30px;
}
.option_slct{
    width: 200px;
    padding: 10px 5px;
}
#submit_btn{
    border: none;
    background-color: white;
    padding: 10px 25px;
    margin: 0px 112px;
}