body{
    margin: 0px;
    padding: 150px 0px;
    height: 600px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}
.bground{
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin: auto auto;
    padding: 20px;
    box-sizing: border-box;
}
.bground input{
    padding: 10px;
    box-sizing: border-box;
    border: none;
}
.user_id_div, .pass_div{
    background-color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.sbmt_btn_div{
    padding: 0px 82px;
}
#submit_btn{
    border: none;
    background-color: white;
    padding: 10px 25px;
}
.input_type{
    float: inherit;
}